{% extends "homemaster.html" %}
    {%block title%}
 about
    {%endblock%}

{%block body%}
<!-- container -->
<div class = "container">
    <div class="row">
        <div class="col-md-8">
           <h1 class="text-dark display-4 aboutH " style="font-size:40px"><b>About</b></h1>
            <h1 class="text-dark display-4 aboutP" style="font-size:20px">
                <p>
                    <br>
                    We have created this website for anyone who fails to express their concerns and problems or seek appropriate help from the organization. This website will help them.
                    This website allows a person to talk about their problem and express their point of view correctly.
                    Our goal is to provide a platform for a person to talk about his or her own satisfaction.
                    He/Her can share his worries with his organization from anywhere.
                    We are happy that we have the ability to work for our person.
                    We hope you find this website helpful
                </p>
            
{%endblock%}